// 2019-07-02
// "Request the «I am at least 18 years old» confirmation from visitors as on swishersweets.com":
// https://github.com/kingpalm-com/core/issues/8
.kingpalm-adult-popup {
	background: #000; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 9999999;
	.kp-internal {
		background: rgba(255, 255, 255, 0.9);
		border-radius: 2px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		height: auto;
		margin: 0 auto;
		padding: 20px 35px 30px 35px;
		position: relative;
		right: 0%;
		top: 25%;
		width: 400px;
		z-index: 1000000;
		@media (max-width: 479px) {top: 15%; width: 90% !important;}
		button.action.login.primary {
			background: #5a9842 none repeat scroll 0 0;
			border-radius: 0 !important;
			font-size: 17px;
			&:hover {color: #ffffff;}
		}
		li {color: #000000; font-size: 14px; list-style: outside none disc; margin-bottom: 0px;}
	}
}
button.btn-checkout span, button.btn-checkout span:hover {
	background-color: #5a9842 !important; border-color: #5a9842 !important;
}